
        <%- include('../layouts/homeheader.ejs') -%>
        

<div class="body-wrapper">


    <header class="ltn__header-area ltn__header-4 ltn__header-6 ltn__header-transparent gradient-color-2">
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area top-area-color-white d-none plr--9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i> info@webmail.com</a></li>
                                <li><a href="locations.ejs"><i class="icon-placeholder"></i> 15/A, Nest Tower, NYC</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->
        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-black  ltn__logo-right-menu-option plr--9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="site-logo-wrap">



                            
                            <div class="site-logo">
                                <a href=""><img src="/public/assets/img/carlogo-removebg-preview(1).png" alt="Logo"></a>
                            </div>
                            <div class="get-support clearfix get-support-color-white">
                                <div class="get-support-icon">
                                    <i class="bi bi-telephone"></i>

                                </div>
                                <div class="get-support-info">
                                    <h6>Get Support</h6>
                                    <h4><a href="tel:+123456789">123-456-789-10</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col header-menu-column menu-color-white">
                        <div class="header-menu d-none d-xl-block">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li class=""><a href="/shop">Explore</a>
                                          </li>
                                          <li class=""><a href="/home">Home</a>
                                          </li>
                                        <li class=""><a href="/about">About</a>
                                           
                                        </li>
                                        <li class=""><a href="/shop">Shop</a>
                                           
                                        </li>
                                        <li class=""><a href="/about">News</a>
                                           
                                        </li>
                                        <li class=""><a href="/shop">Feed</a>
                                           
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li class="special-link"><a href="/appointment"> 757 AUTOMOTIVE</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="ltn__header-options ltn__header-options-2">
                        <!----- header-search-1 -->
                        <div class="header-search-wrap">
                            <div class="header-search-1">
                                <div class="search-icon">
                                    <i class="bi bi-search"></i>

                                    <i class="icon-cancel  for-search-close"></i>
                                </div>
                            </div>
                            <div class="header-search-1-form">
                                <form id="#" method="get"  action="#">
                                    <input type="text" name="search" value="" placeholder="Search here..."/>
                                    <button type="submit">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- user-menu -->
                        <div class="ltn__drop-menu user-menu">
                            <ul>
                                <li>
                                    <a href="#"> <i class="bi bi-person-circle"></i>



                                    </a>
                                    <ul>
                                        <!-- <li><a href="login.html">Sign in</a></li>
                                        <li><a href="register.html">Register</a></li> -->
                                        <li><a href="/account">My Account</a></li>
                                        <li><a href="/logout">log out
                                          
                                        </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- mini-cart -->
                        <div class="mini-cart-icon">
                            <a href="/cart" >
                                <!-- Example usage of Bootstrap icons in EJS -->
                                <i class="bi bi-cart"></i> <!-- Example of an alarm icon -->

                                <sup>2</sup>
                            </a>
                        </div>
                        <!-- mini-cart -->
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-xl-none">
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewBox="0 0 800 600">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
    </header>
    <!-- HEADER AREA END -->
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bs-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Welcome to 777 Autpmotive</h6>
                            <h1 class="section-title white-color">Edit your Profile</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Profile setting </h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row gx-5">
                   
                    <div class="col-lg-9">
                        <section class="content-body p-xl-4">
                            <form method="post" onsubmit="return validateForm()" class="custom-form">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row gx-16">
                                            <div class="col-12 mb-3">
                                                <label class="form-label">Name</label>
                                                <input class="form-control" type="text" name="username" id="username" placeholder="Type here" value="<%= user.username %>">
                                                <p id="nameError" class="error-message"></p>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <label class="form-label">Email</label>
                                                <input class="form-control" type="email" name="email" id="email" placeholder="example@mail.com" value="<%= user.email %>">
                                                <p id="emailError" class="error-message"></p>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <label class="form-label">Phone</label>
                                                <input class="form-control" type="text" name="mobile" id="mobile" placeholder="+1234567890" value="<%= user.mobile %>">
                                                <p id="mobileError" class="error-message"></p>
                                            </div>
                                            <div class="col-md">
                                                <h6>Change password?</h6>
                                                <article class="box mb-4 bg-light">
                                                    <a href="/loadeditPassword?id=<%= user._id %>">Click here to Change Password</a>
                                                </article>
                                            </div>
                                        </div> <!-- row.// -->
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <br>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </form>
                            
                           
                             <!-- row.// -->
                        </section> <!-- content-body .// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card body end// -->
        </div> <!-- card end// -->
    </section>
  
   
       <!-- FOOTER AREA START (ltn__footer-2 ltn__footer-color-1) -->
    <footer class="ltn__footer-area ltn__footer-2 ltn__footer-color-1">
        <div class="footer-top-area  section-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-5">
                        <div class="footer-widget ltn__footer-timeline-widget ltn__footer-timeline-widget-1 bg-image bg-overlay-theme-black-90" data-bs-bg="img/bg/4.jpg">
                            <h6 class="ltn__secondary-color text-uppercase">// time shedule</h6>
                            <h4 class="footer-title">Meet In Timeline.</h4>
                            <ul>
                                <li>Monday <span>07:00AM - 20:00PM</span></li>
                                <li>Tuesday <span>07:00AM - 20:00PM</span></li>
                                <li>Wednesday <span>07:00AM - 20:00PM</span></li>
                                <li>Thursday <span>07:00AM - 20:00PM</span></li>
                                <li>Friday <span>07:00AM - 20:00PM</span></li>
                                <li>Saturday <span>07:00AM - 20:00PM</span></li>
                                <li>Sunday <span>Official Holiday</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-7">
                        <div class="footer-widget footer-menu-widget footer-menu-widget-2-column clearfix">
                            <h4 class="footer-title">Services.</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="service.html">Engine Diagnostics</a></li>
                                    <li><a href="service.html">Vehicles Damaged</a></li>
                                    <li><a href="service.html">Air Conditioning Evac</a></li>
                                    <li><a href="service.html">Anti Lock Brake Service</a></li>
                                    <li><a href="service.html">Computer Diagnostics</a></li>
                                    <li><a href="service.html">Performance Upgrades</a></li>
                                </ul>
                            </div>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="service.html">Car Wash & Cleaning</a></li>
                                    <li><a href="service.html">Choose your Repairs</a></li>
                                    <li><a href="service.html">Free Consultancy</a></li>
                                    <li><a href="service.html">Emergency Time</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="footer-widget footer-blog-widget">
                            <h4 class="footer-title">News Feeds.</h4>
                            <div class="ltn__footer-blog-item">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                    </ul>
                                </div>
                                <h4 class="ltn__blog-title"><a href="blog-details.html">Does electric cars can make noise through the exhaust ??.</a></h4>
                            </div>
                            <div class="ltn__footer-blog-item">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 28, 2020</li>
                                    </ul>
                                </div>
                                <h4 class="ltn__blog-title"><a href="blog-details.html">Electric Car Maintenance, Servicing & Repairs</a></h4>
                            </div>
                            <div class="ltn__footer-blog-item">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                    </ul>
                                </div>
                                <h4 class="ltn__blog-title"><a href="blog-details.html">Does electric cars can make noise through the exhaust ??.</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                <a href="index.html"><img src="/" alt="757 automotive"></a>
                            </div>
                            <div class="get-support ltn__copyright-design clearfix">
                                <div class="get-support-info">
                                    <h6>Copyright & Design By</h6>
                                    <h4> <span class="current-year"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-end">
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Claim</a></li>
                                <li><a href="#">Privacy & Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
    </div>

    <!-- ======================================================================================= -->
 
 

        <%- include('../layouts/homefooter.ejs') -%>
        <script>
            function validateForm() {
                // Get form input values
                const username = document.getElementById("username").value;
                const email = document.getElementById("email").value;
                const mobile = document.getElementById("mobile").value;
            
               
            
                // Error message elements
                const nameError = document.getElementById("nameError");
                const emailError = document.getElementById("emailError");
                const mobileError = document.getElementById("mobileError");
            
                 // Regular expressions for validation
                 const nameRegex = /^[A-Z][a-zA-Z]*$/; // First letter capitalized, only letters allowed
                const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail+\.[a-zA-Z]{3}$/; // No spaces or underscores allowed
                const mobileRegex = /^\d{10}$/;
                const allZerosRegex = /^0+$/;// Minimum ten digits required
                // Validate name
                if (!nameRegex.test(username.trim())) {
                    nameError.textContent = "Invalid name format. First letter should be capital and only letters allowed.";
                    return false;
                } else {
                    nameError.textContent = "";
                }
            
                // Validate email
                if (!emailRegex.test(email.trim())) {
                    emailError.textContent = "Invalid email address format...";
                    return false;
                } else {
                    emailError.textContent = "";
                }
            
                // Validate mobile number
                if (!mobileRegex.test(mobile.trim())) {
                    mobileError.textContent = "Invalid mobile number.";
                    return false;
                } else if (mobile.trim() === '0000000000') {
                    mobileError.textContent = "Mobile number cannot consist of 10 consecutive zeros.";
                    return false;
                } else {
                    mobileError.textContent = "";
                }
            
                return true;
            }
            </script>

            <style>
                .custom-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.bg-light {
    background-color: #f9f9f9;
}

            </style>
            
      
      