    <%- include('../layouts/homeheader.ejs') -%>
            

    <div class="body-wrapper">


        <header class="ltn__header-area ltn__header-4 ltn__header-6 ltn__header-transparent gradient-color-2">
            <!-- ltn__header-top-area start -->
            <div class="ltn__header-top-area top-area-color-white d-none plr--9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i> info@webmail.com</a></li>
                                    <li><a href="locations.ejs"><i class="icon-placeholder"></i> 15/A, Nest Tower, NYC</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-top-area end -->
            <!-- ltn__header-middle-area start -->
            <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-black  ltn__logo-right-menu-option plr--9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="site-logo-wrap">



                                
                                <div class="site-logo">
                                    <a href=""><img src="/public/assets/img/carlogo-removebg-preview(1).png" alt="Logo"></a>
                                </div>
                                <div class="get-support clearfix get-support-color-white">
                                    <div class="get-support-icon">
                                        <i class="bi bi-telephone"></i>

                                    </div>
                                    <div class="get-support-info">
                                        <h6>Get Support</h6>
                                        <h4><a href="tel:+123456789">123-456-789-10</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col header-menu-column menu-color-white">
                            <div class="header-menu d-none d-xl-block">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li class=""><a href="/shop">Explore</a>
                                            </li>
                                            <li class=""><a href="/home">Home</a>
                                            </li>
                                            <li class=""><a href="/about">About</a>
                                            
                                            </li>
                                            <li class=""><a href="/shop">Shop</a>
                                            
                                            </li>
                                            <li class=""><a href="/about">News</a>
                                            
                                            </li>
                                            <li class=""><a href="/shop">Feed</a>
                                            
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li class="special-link"><a href="/appointment"> 757 AUTOMOTIVE</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="ltn__header-options ltn__header-options-2">
                            <!----- header-search-1 -->
                            <div class="header-search-wrap">
                                <div class="header-search-1">
                                    <div class="search-icon">
                                        <i class="bi bi-search"></i>

                                        <i class="icon-cancel  for-search-close"></i>
                                    </div>
                                </div>
                                <div class="header-search-1-form">
                                    <form id="#" method="get"  action="#">
                                        <input type="text" name="search" value="" placeholder="Search here..."/>
                                        <button type="submit">
                                            <span><i class="icon-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- user-menu -->
                            <div class="ltn__drop-menu user-menu">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="bi bi-person-circle"></i>



                                        </a>
                                        <ul>
                                            <!-- <li><a href="login.html">Sign in</a></li>
                                            <li><a href="register.html">Register</a></li> -->
                                            <li><a href="/account">My Account</a></li>
                                            <li><a href="/logout">log out
                                            
                                            </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- mini-cart -->
                            <div class="mini-cart-icon">
                                <a href="/cart" >
                                    <!-- Example usage of Bootstrap icons in EJS -->
                                    <i class="bi bi-cart"></i> <!-- Example of an alarm icon -->

                                    <sup>2</sup>
                                </a>
                            </div>
                            <!-- mini-cart -->
                            <!-- Mobile Menu Button -->
                            <div class="mobile-menu-toggle d-xl-none">
                                <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                    <svg viewBox="0 0 800 600">
                                        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                        <path d="M300,320 L540,320" id="middle"></path>
                                        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-middle-area end -->
        </header>
        <!-- HEADER AREA END -->
        <!-- BREADCRUMB AREA START -->
        <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bs-bg="img/bg/9.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                            <div class="section-title-area ltn__section-title-2">
                                <h6 class="section-subtitle ltn__secondary-color">//  Welcome to 777 Autpmotive</h6>
                                <h1 class="section-title white-color">Edit your address</h1>
                            </div>
                            <div class="ltn__breadcrumb-list">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMB AREA END -->






    <main class="main">
                <div class="page-header breadcrumb-wrap">
                    <div class="container">
                        <div class="breadcrumb">
                        
                        </div>
                    </div>
                </div>
                <section class="pt-150 pb-150">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 m-auto">
                                <div class="row justify-content-center">

                                    <div class="col-md-8">
                                        <div class="tab-content dashboard-content">



                                            <!-- card for the dash bord user simple details -->

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5> Edit Address.....</h5>
                                                </div>
                                                <div class="card-body">

                                                    <form method="post" action="/editAddress?id=<%= address._id %>"onsubmit="return validate()">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label><h5>Full Name</h5></label>
                                                                <input required class="form-control square" id="fullName" name="fullName" value="<%= address.fullName %>" type="text">
                                                                <div id="fullNameError" class="error"></div>
                                                            </div>


                                                           
                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Mobile number</h5>
                                                                </label>
                                                                <input required class="form-control square" id="mobile" name="mobile"
                                                                    value="<%= address.mobile %>" type="text">
                                                                    <div id="mobileError" class="error"></div>
                                                            </div>
                                                            
                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Region</h5>
                                                                </label>
                                                                <input required="" class="form-control square" name="region"
                                                                    value="<%= address.region %>" type="text">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Pincode</h5>
                                                                </label>
                                                                <input required="" class="form-control square"
                                                                    name="pinCode" value="<%= address.pinCode %>"
                                                                    type="text">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Flat, House no., Building, Company, Apartment</h5>
                                                                </label>
                                                                <input required="" class="form-control square"
                                                                    name="addressLine" value="<%= address.addressLine %>"
                                                                    type="text">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Area, Street, Sector, Village</h5>
                                                                </label>
                                                                <input required="" class="form-control square"
                                                                    name="areaStreet" value="<%= address.areaStreet %>"
                                                                    type="text">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Landmark</h5>
                                                                </label>
                                                                <input required="" class="form-control square"
                                                                    name="landmark" value="<%= address.landmark %>"
                                                                    type="text">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>
                                                                    <h5>Town/City</h5>
                                                                </label>
                                                                <input required="" class="form-control square"
                                                                    name="townCity" value="<%= address.townCity %>"
                                                                    type="text">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>
                                                                    <h5>State</h5>
                                                                </label>
                                                                <input required="" class="form-control square" name="state"
                                                                    value="<%= address.state %>" type="text">
                                                            </div>

                                                            <div class="form-group col-md-12">
                                                                <label>
                                                                    <h5>Adress Type</h5>
                                                                </label>
                                                                <input required="" class="form-control square"
                                                                    name="addressType" value="<%= address.adressType %>"
                                                                    type="text">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <input type="hidden" name="_id" value="<%= address._id %>">
                                                                <button type="submit" class="btn btn-fill-out submit"
                                                                    name="submit" value="Submit">Save</button>
                                                            </div>
                                                           
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- FOOTER AREA START (ltn__footer-2 ltn__footer-color-1) -->
        <footer class="ltn__footer-area ltn__footer-2 ltn__footer-color-1">
            <div class="footer-top-area  section-bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-5">
                            <div class="footer-widget ltn__footer-timeline-widget ltn__footer-timeline-widget-1 bg-image bg-overlay-theme-black-90" data-bs-bg="img/bg/4.jpg">
                                <h6 class="ltn__secondary-color text-uppercase">// time shedule</h6>
                                <h4 class="footer-title">Meet In Timeline.</h4>
                                <ul>
                                    <li>Monday <span>07:00AM - 20:00PM</span></li>
                                    <li>Tuesday <span>07:00AM - 20:00PM</span></li>
                                    <li>Wednesday <span>07:00AM - 20:00PM</span></li>
                                    <li>Thursday <span>07:00AM - 20:00PM</span></li>
                                    <li>Friday <span>07:00AM - 20:00PM</span></li>
                                    <li>Saturday <span>07:00AM - 20:00PM</span></li>
                                    <li>Sunday <span>Official Holiday</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-7">
                            <div class="footer-widget footer-menu-widget footer-menu-widget-2-column clearfix">
                                <h4 class="footer-title">Services.</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="service.html">Engine Diagnostics</a></li>
                                        <li><a href="service.html">Vehicles Damaged</a></li>
                                        <li><a href="service.html">Air Conditioning Evac</a></li>
                                        <li><a href="service.html">Anti Lock Brake Service</a></li>
                                        <li><a href="service.html">Computer Diagnostics</a></li>
                                        <li><a href="service.html">Performance Upgrades</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="service.html">Car Wash & Cleaning</a></li>
                                        <li><a href="service.html">Choose your Repairs</a></li>
                                        <li><a href="service.html">Free Consultancy</a></li>
                                        <li><a href="service.html">Emergency Time</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="footer-widget footer-blog-widget">
                                <h4 class="footer-title">News Feeds.</h4>
                                <div class="ltn__footer-blog-item">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                        </ul>
                                    </div>
                                    <h4 class="ltn__blog-title"><a href="blog-details.html">Does electric cars can make noise through the exhaust ??.</a></h4>
                                </div>
                                <div class="ltn__footer-blog-item">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 28, 2020</li>
                                        </ul>
                                    </div>
                                    <h4 class="ltn__blog-title"><a href="blog-details.html">Electric Car Maintenance, Servicing & Repairs</a></h4>
                                </div>
                                <div class="ltn__footer-blog-item">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                        </ul>
                                    </div>
                                    <h4 class="ltn__blog-title"><a href="blog-details.html">Does electric cars can make noise through the exhaust ??.</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ltn__copyright-area ltn__copyright-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="site-logo-wrap">
                                <div class="site-logo">
                                    <a href="index.html"><img src="/" alt="757 automotive"></a>
                                </div>
                                <div class="get-support ltn__copyright-design clearfix">
                                    <div class="get-support-info">
                                        <h6>Copyright & Design By</h6>
                                        <h4> <span class="current-year"></span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 align-self-center">
                            <div class="ltn__copyright-menu text-end">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Claim</a></li>
                                    <li><a href="#">Privacy & Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER AREA END -->
            <%- include('../layouts/homefooter.ejs') -%>
           <!-- Add this CSS style block to your HTML file -->
<style>
    .error-message {
        color: red;
    }
</style>

<!-- Modify your script to include this class for error messages -->
<script>
    function validate() {
        const fullName = document.getElementById("fullName");
        const mobile = document.getElementById("mobile");
        const pinCode = document.getElementById("pinCode");
        
        const fullNameError = document.getElementById("fullNameError");
        const mobileError = document.getElementById("mobileError");
        const pinCodeError = document.getElementById("pinCodeError");
        
        const fullNameRegex = /^[A-Z]/;
        const mobileRegex = /^[0-9]{10}$/;
        const pinCodeRegex = /^\d{6}$/;
        const allZerosRegex = /^0+$/;
        
        if (fullName.value.trim() === "") {
            fullNameError.innerHTML = "Field is required";
            fullNameError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                fullNameError.innerHTML = ""; 
                fullNameError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        if (!fullNameRegex.test(fullName.value)) {
            fullNameError.innerHTML = "First letter should be capital";
            fullNameError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                fullNameError.innerHTML = ""; 
                fullNameError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        
        if (mobile.value.trim() === "") {
            mobileError.innerHTML = "Field is required";
            mobileError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                mobileError.innerHTML = ""; 
                mobileError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        if (!mobileRegex.test(mobile.value)) {
            mobileError.innerHTML = "Please enter a valid number";
            mobileError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                mobileError.innerHTML = ""; 
                mobileError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        if (allZerosRegex.test(mobile.value)) {
            mobileError.innerHTML = 'Please enter a valid number';
            mobileError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                mobileError.innerHTML = ""; 
                mobileError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        
        if (pinCode.value.trim() === "") {
            pinCodeError.innerHTML = "Field is required";
            pinCodeError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                pinCodeError.innerHTML = ""; 
                pinCodeError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        if (!pinCodeRegex.test(pinCode.value)) {
            pinCodeError.innerHTML = "Please enter a valid pin code";
            pinCodeError.classList.add("error-message"); // Add the error class
            setTimeout(() => { 
                pinCodeError.innerHTML = ""; 
                pinCodeError.classList.remove("error-message"); // Remove the error class after timeout
            }, 5000);
            return false;
        }
        
        return true; // All validations passed, allow form submission
    }
</script>

                